<nav class="navbar navbar-inverse navbar-fixed-top">
   <div class="container">
      <div class="navbar-header">
         <button aria-expanded="false" class="navbar-toggle collapsed" data-target="#cart_shopping_collapse" data-toggle="collapse" type="button">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         </button>
         <a class="navbar-brand">
         Cart shopping
         </a>
      </div>
      <div class="collapse navbar-collapse" id="cart_shopping_collapse">
         <ul class="nav navbar-nav">
            <li>
               <%= link_to "Home", root_path%>
            </li>
            <li>
               <%= link_to "Product", root_path %>
            </li>
         </ul>
         <ul class="nav navbar-nav navbar-right">
            <li>
               <%= link_to "Cart", edit_cart_path(session[:cart_id]) %>
            </li>
         </ul>
      </div>
   </div>
</nav>